################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TomeTender/.vs/TomeTender/FileContentIndex/b24a8db2-0626-4fa9-9429-ac2efc576c46.vsidx
/TomeTender/.vs/TomeTender/FileContentIndex/1b5dc733-57d6-4e71-8533-db09a9af9d15.vsidx
/TomeTender/.vs/TomeTender/FileContentIndex/63947909-4317-4114-86e4-fd4568a333cd.vsidx
/TomeTender/.vs/TomeTender/FileContentIndex/e964d10c-d6b5-40a4-9c73-90c2ca2ca149.vsidx
/TomeTender/.vs/TomeTender/FileContentIndex/58b71147-39e7-4680-983b-3bbeb1ae6013.vsidx
/TomeTender/.vs/TomeTender/FileContentIndex/f7fc83ad-4557-41a3-aed2-87aa0e521d92.vsidx
/TomeTender/.vs/TomeTender/FileContentIndex/3d5e5042-fce1-423e-86e8-f741e2c58043.vsidx
/.vs/TomeTender/FileContentIndex/5545c74f-d18e-4aef-b302-6de6b20ceca4.vsidx
/.vs
/.vs/TomeTender/FileContentIndex/89ac05af-a047-4953-a22d-b86f0ba6971e.vsidx
