################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TomeTender/.vs/TomeTender/FileContentIndex/b24a8db2-0626-4fa9-9429-ac2efc576c46.vsidx
